<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
    <title>About Page | Traipoap</title>
</head>

<body>
    
    <nav>
        <div class="logo">
            <img src="assets/logo.png">
            <a href="#">Traipoap</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/works">Works</a>
            <a href="/experience">Experience</a>
            <a href="/blog">Blog</a>
            <a class="selected" href="/about">About</a>
        </div>
    </nav>

    <h1 class="page-title">About</h1>

    <div class="content">
        <div class="container">
            <img src="assets/profile-2.png">
            <div class="about">
                <h2>I'm Traipoap Hunthong</h2>
                <p>In my personal time, I run my own DevOps lab where I experiment with new tools and technologies, automate tasks, and continuously improve my skills.</p>
                <p class="email">Contact Me : traipoap@hotmail.com</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="socials">
            <i class='bx bxl-linkedin-square'></i>
            <i class='bx bxl-github'></i>
        </div>
        <p>©2024 Traipoap. Personal portfolio.</p>
    </footer>

</body>

</html>