<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
    <title>Blog Page | Traipoap</title>
</head>

<body>

    <nav>
        <div class="logo">
            <img src="assets/logo.png">
            <a href="#">Traipoap</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/works">Works</a>
            <a href="/experience">Experience</a>
            <a class="selected" href="/blog">Blog</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <h1 class="page-title">Blog</h1>

    <div class="content">
        <div class="post-list">
            {{range .Posts}}
            <div class="post-item">
                <h3>{{.Title}}</h3>
                <div class="info">
                    <h5>{{.Date}}</h5>
                    <h5>|</h5>
                    <h5>{{.Tags}}</h5>
                </div>
                <p>{{.Summary}}</p>

                <div class="buttons">
                    <i class='bx bx-share'></i>
                    <i class='bx bx-link-alt'></i>
                    <i class='bx bx-copy'></i>
                    <i class='bx bx-bookmark-plus'></i>
                    <button>Read More</button>
                </div>

            </div>
            {{end}}
        </div>
    </div>

    <footer>
        <div class="socials">
            <i class='bx bxl-linkedin-square'></i>
            <i class='bx bxl-github'></i>
        </div>
        <p>©2024 Traipoap. Personal portfolio.</p>
    </footer>

</body>

</html>