<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
    <title>Personal Portfolio | Traipoap</title>
</head>

<body>

    <nav>
        <div class="logo">
            <img src="assets/logo.png">
            <a href="#">Traipoap</a>
        </div>
        <div class="nav-links">
            <a class="selected" href="/">Home</a>
            <a href="/works">Works</a>
            <a href="/single-work">Single Work</a>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <div class="main">
        <div class="info">
            <h1>Hello, I'm Toon, <br>Devops Engineer</h1>
            <p>I am a DevOps enthusiast with a passion for learning new technologies and a strong background in cloud networking.
                I currently work as a Tier-2 Technical Support Engineer providing network support for cloud-based infrastructure.</p>
            <button>Download Resume</button>
        </div>
        <img src="assets/profile-1.png">
    </div>

    <div class="recent">
        <div class="header">
            <h4>Recent Posts</h4>
            <a href="/blog">View all</a>
        </div>
        <div class="posts">
            {{range .Posts}}
            <div class="post-item">
                <h3>{{.Title}}</h3>
                <div class="info">
                    <h5>{{.Date}}</h5>
                    <h5>|</h5>
                    <h5>{{.Tags}}</h5>
                </div>
                <p>{{.Summary}}</p>
            </div>
            {{end}}
        </div>
    </div>

    <div class="separator">
        <h4>Featured Works</h4>
        <a href="/works">View all</a>
    </div>

    <div class="featured">
        {{range .Projects}}
        <div class="item">
            <img src="{{.ImageURL}}">
            <div class="details">
                <h3>{{.Title}}</h3>
                <div class="item-info">
                    <div class="year-badge">{{.Year}}</div>
                    <h4>{{.Technology}}</h4>
                </div>
                <p>{{.Description}}</p>
            </div>
        </div>
        {{end}}

    <footer>
        <div class="socials">
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-twitter'></i>
            <i class='bx bxl-linkedin-square'></i>
        </div>
        <p>©2024 Traipoap. Personal portfolio.</p>
    </footer>

</body>

</html>