<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
    <title>Single Work Page | AsmrProg</title>
</head>

<body>

    <nav>
        <div class="logo">
            <img src="assets/logo.png">
            <a href="#">Traipoap</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/works">Works</a>
            <a href="/experience">Experience</a>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <h1 class="page-title">Designing DevOps with usability in mind</h1>


    <div class="content">
        <div class="work-info">
            <div class="year-badge">2024</div>
            <div class="category">
                <p>DevOps application development process.</p>
            </div>
        </div>

        <p>DevOps is a way of working that connects software development (Dev) and operations (Ops), helping teams build and deliver applications faster and more efficiently.</p>

        <img src="assets/single-post-1.png">

        <h1>Continuous Integration/Continuous Delivery (CI/CD)</h1>
        <!-- <h2>CI/CD เป็นแนวทางปฏิบัติที่ช่วยให้อัตโนมัติการพัฒนา การทดสอบ และการปรับใช้ซอฟต์แวร์  ช่วยให้ทีมสามารถส่งมอบซอฟต์แวร์ใหม่และคุณสมบัติใหม่ได้เร็วขึ้นและมีประสิทธิภาพมากขึ้น</h2> -->
        <!-- <h3>กระบวนการ CI/CD ประกอบด้วยขั้นตอนหลักๆ ดังนี้</h3> -->
        <p>I/CD is a practice that helps automate the development, testing, and deployment of software. Help teams deliver new software and new features faster and more efficiently.</p>

        <img src="assets/single-post-2.png">

    </div>


    <footer>
        <div class="socials">
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-twitter'></i>
            <i class='bx bxl-linkedin-square'></i>
        </div>
        <p>©2024 Traipoap. Personal portfolio.</p>
    </footer>


</body>

</html>