<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
    <title>Works Page | Traipoap</title>
</head>

<body>

    <nav>
        <div class="logo">
            <img src="assets/logo.png">
            <a href="#">Traipoap</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a class="selected" href="/works">Works</a>
            <a href="/single-work">Single Work</a>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <h1 class="page-title">Works</h1>

    <div class="content">
        <div class="works-list">
            {{range .Projects}}
            <div class="item">
                <img src="{{.ImageURL}}">
                <div class="details">
                    <h3>{{.Title}}</h3>
                    <div class="item-info">
                        <div class="year-badge">{{.Year}}</div>
                        <h4>{{.Technology}}</h4>
                    </div>
                    <p>{{.Description}}</p>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    
    <footer>
        <div class="socials">
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-twitter'></i>
            <i class='bx bxl-linkedin-square'></i>
        </div>
        <p>©2024 Traipoap. Personal portfolio.</p>
    </footer>


</body>

</html>